@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0), rgb(0, 187, 255));
    margin: 0 auto;
}
.tp{
    display: none;
}
.navbide{
    padding: 1em;
    background: #e6e7e9bd;
}
.navbide i{
    font-size: 2em;
}
.navbide .logo{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}
.navbide .logo span{
    color: rgb(39, 39, 247);
}
nav{
    display: none;
    
}
a{
    color: #444444;
}
ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}
.navbide .container{
    
    display: flex;
    place-content: space-between;
}
.navbide .container .mobile-menu{
    cursor: pointer;
}

.hero .container .right-col .colunm{
    display: flex;
}
.hero .container .right-col .colunm p{
    padding: 5px;
}
.hero .container .right-col .space{
    padding-left: 5px;
    
}
.hero{
    position: relative;
    
}
.hero .container .bg-covid{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.hero .container .bg-covid img{
   border-radius: 10px;
    
}
.hero .container .right-col{
    position: absolute;
    top:5%;
    right:0;
    color:  rgb(0, 0, 0);
    font-size:0.75em;
}
.hero .container .right-col .colunm{
    flex-direction: column;
}
.hero .container .left-col .content{
    font-size: 0.7em;
}

.hero .container .left-col{
    position: absolute;
    top:8%;
    left:2%;
    color:  rgb(0, 0, 0);
    font-size: 1em;
}
.underline{
    border-bottom: 1px solid rgb(56, 55, 55);
}
nav.menu-btn{
    display: block;

}
nav{
    position: fixed;
    z-index: 999;
    width: auto;
    left: 0;
    top :0;
    background: #88aefabd;
    box-shadow:0 0 6px rgb(126, 126, 126,1);
    height: 100vh;
    padding: 1em;
    
}
nav .primary-nav{
    margin-top: 2em;
}
nav .primary-nav li a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 12px 8px;
    font-size: 1em;
    position: relative;
    
}
.navbide nav ul ul li a{
    padding: 1em 1em;
   
}
.navbide nav ul ul li{
    position: relative;
    margin: 0px;
    width: auto;
    
}
.navbide nav ul ul{
    position: static;
    padding-left: 20px;
    display: none;
   
    
}
.navbide nav ul li:hover ul{
    display: block;
    
}

.navbide nav li a i{
    font-size: 1.3em;
    position: absolute;
    right: 10%;
}
.navbide nav ul li.active a{
    color: blue;
    
}
.navbide nav ul li.active ul li a{
    color: white;
    
}
.navbide nav ul li.active ul li a:hover{
    color: blue;

}
.navbide nav li:hover a i{
    transform: rotate(-180deg);
}
.navbide nav ul li ul a:hover{
    color: black;
    
}
.navbide nav ul li ul a::before{
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    border: 2px solid transparent;
}
.navbide nav ul li ul a:hover::before{
    animation: line-run 0.25s linear forwards;
}
.navbide nav ul li ul a::after{
    content: "";
    position: absolute;
    right:1px;
    bottom:1px;
    border: 2px solid transparent;
}
.navbide nav ul li ul a:hover::after{
    animation: line-run-2 0.25s linear forwards;
    animation-delay: 0.25s;
}

nav .secondary-nav{
    display: flex;
}
nav .secondary-nav i{
    font-size: 1em;
   
}
nav .secondary-nav button i{
    vertical-align:middle;
}

nav .secondary-nav button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}   
.mobile-menu-exit{
    float: right;
    font-size: 1.5em;
    cursor: pointer;
}
.Graphing{
    display: block;

}
nav .secondary-nav .seach .search{
    border: 1px solid #c1bfbfb3;
    border-radius: 10px;
}
.radius{
    padding: 10px;
    border: 1px solid #dadce0;
    border-radius: 10px;
    margin-bottom: 2px;
    background: #ffffff;
}
#chart{
    width:100%;
    margin: 0 auto;
    display: inline-block;
}
.title{
    border-bottom: 1px solid #c1bfbfb3;
    text-align: center;
}
.s2 .Graphing .TOP table{
    font-size: 0.75em;
    width: 100%;
}
.s2 .Graphing .TOP table thead th{
    text-align: center;
}
.s2 .Graphing .TOP table tbody td{
    padding: 2px 2px;
    text-align: center;

}
.s3 .mains3 .k5{
    width: 100%;
}
.list5k{
    font-size: 0.8em;
    width: 100%;
}
.list5k span{
    font-size: 1.2em;
}
.list5k ul li{
    padding: 3px 1px;
}
.list5k ul li a{
    text-decoration: none;
    color: blue;
}
.list5k ul li p{
    padding: 0 17px;
    color: red;
}
.list5k ul li p .p-1{
    display: none;
}
.s2 .tintuc{
    padding-top: 10px;
}
.pad-1{
    padding: 10px 0px 0px 0px;
}
.ct-1{
    padding: 10px 0;
    border-bottom:1px solid #c1bfbfb3 ;
}
.ct-1:last-child{
    border: none;
}
.ct-1 a{
    display: flex;
    font-size: 0.9em;
    text-decoration: none;
}
.ct-1 a p{
    margin: auto 0;
    width:70%;
    -webkit-transition: ease all 0.55s;
    transition: ease all 0.55s;
    display: block;
    overflow: hidden;
}
.ct-1 .rightimg{
    width: 100px;
    height: 80px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    
    -webkit-transition: ease all 0.55s;
    transition: ease all 0.55s;
}
.ct-1 .rightimg img{
    transition: 0.5s ease-in-out;
}
.s2 .Graphing .listtop{
    padding: 10px 0px;
}
.ct-1 a:hover img{
    
    transform: scale(1.5);
}
.ct-1 a:hover p{
    transform: scale(1.1);
}
.footer
{   
    border-radius: 10px 10px 0 0[];
    width:100%;
    background-color: #e6e7e9bd;
    height: auto;
   
}
.ff-1{
    display: flex;
    flex-direction: row;
    font-size: 0.75em;
}
.ff-1 .ctn-1{
    width: 100%;
    text-align: center;
    
}
.ff-1 .ctn-1 p{
    display: block;
    padding: 0 10px;
}
.ff-1 .ctn-2{
    width: 50%;
    margin:0 auto;
}
.ff-1 .ctn-2 .ttlh{
    text-align: center;
    
}
.design{
    text-align: center;
    font-size: 0.75em;
}
#particles-js canvas{
    position: absolute;
    top: 0;
    left: 0;
}
.st-2{
    position: relative;
}
#particles-js-1 canvas{
    position: absolute;
    top: 0;
    left: 0;
}
.b-e{
    color: blue;
    font-size: 1.25em;
}
.r-d{
    color: red;
    font-size: 1.25em;
}

/*------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------MÁY TÍNH BẢNG---------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
    nav .secondary-nav i{
        font-size: 1.5em;
    }
    .tp{
        display: inline-block;
    }
    .hero .container .left-col .content{
        margin: 0 auto;
        display: inline-block;
    }
    nav{
        box-shadow: none;
    }
    .navbide nav ul li:hover{
        border-left: none;
    }
    .mobile-menu , .mobile-menu-exit{
        display: none;
    }
    .navbide{
        padding: 10px 20px;
    }
    .navbide .container{
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
    } 
    .navbide nav{
        display: flex;
        position: relative;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
        
    }
    .navbide nav ul{
        display: flex;
        position: relative;
    }
    .navbide nav ul li a{
        color: black;
        font-size: 1em;
        padding: .1em 1em;
    }
    .navbide nav ul ul{
        padding-top: 10px;
        position: absolute;
        display: block;
        opacity: 0;
        visibility: hidden;

    }
    .navbide .secondary-nav{
        position: absolute;
        right: 0;
    }
    .navbide nav ul ul li a{
        padding: 1em 1em;
        margin: 1px 0;
    }
    .navbide nav ul ul li{
        position: relative;
        margin: 0px;
        width: auto;
        left: 0;
        background-color: #e6e7e9bd;
        border-bottom:1px solid #c1bfbfb3 ;
    }
    .navbide nav ul ul li:last-child{
        border-bottom:none;
    }
    .navbide nav li a i{
        font-size: 1em;
        position: absolute;
        right: -5px;
        top: 4px;
    }
    .navbide nav ul li.active a{
        color: rgb(2, 56, 248);
        
    }
    .navbide nav ul li.active ul li a{
        color: black;
        
    }
    .navbide nav ul li.active ul li a:hover{
        color: rgb(2, 56, 248);
        
    }
    .navbide nav li:hover a i{
        transform: rotate(-180deg);
    }
    .navbide nav li:hover ul{
        opacity: 1;
        visibility: visible;
        transition: ease all 0.55s;
        
    }
    .navbide nav ul li ul a::before{
        left:-2px;
        top:-2px;
        border: 2px solid transparent;
    }
    .navbide nav ul li ul a::after{
        right:-2px;
        bottom:-2px;
        border: 2px solid transparent;
    }
    nav ul .show-menu-TT.show{
        display: none;
    }
    nav ul .show-menu-TC.show{
        display: none;
    }
    nav ul .show-menu-LK.show{
        display: none;
    }
    
    .navbide nav ul li a:hover{
        color: blue;
        font-size: 1em;
    }
    nav .secondary-nav .seach .search{
        display: none;
    }
    .navbide nav .primary-nav{
        margin: 0;
    }
    .hero .container .right-col{
        font-size: 1em;
    }

    nav .primary-nav.hide-nav{
        display: none;
    }
    nav .secondary-nav .seach .search.unhide-search{
        display: inline-block;
    }
    .Graphing{
        display: block;
        width:100%;
        height:100%;
    }
    .s2{

        display: flex;
        position: relative;
    }   
    .Graphing{
        width: 50%;
        height: auto;
    }

    .s2 .Graphing .TOP .title{
        text-align: center;
    }
    .s2{
        margin-top: 20px;
    }
    .s2 .Graphing .listtop{
        padding-top: 10px;
    }
    .hero{
        border-radius: 10px;
        max-width: 1250px;
        max-height: 250px;
        margin: auto;
        overflow: hidden;
    }
    .s2{
        max-width: 1250px;
        margin: auto;
        overflow: hidden;
    }
    .s2 .Graphing{
        width: 62%;
        height: auto;
    }
    .s2 .Graphing .TOP{
        width: 100%;
    }
    .s2 .Graphing .TOP table tbody td{
        padding: 3.8px 5px;
        text-align: center;
    }
    .s2 .tintuc{
        position: absolute;
        right: 0;
        width: 37%;
    }
    .s2 .Graphing .listtop{
        padding: 10px 0px 0px 0px;
    }
    .ct-1 .rightimg{
        width: 30%;
        height: 90px;
        
    }
    .s3 {
        position: relative;
        max-width: 1250px;
        display: flex;
        margin: auto;
        overflow: hidden;
    }
    .st{
        width: 62%;
    }
    .s3 .s3-1{
        width: 100%;
    }
    .s3 .s3-2{
        width: 100%;
    }
    .s3 .st-2{
        position: absolute;
        right: 0;
        width: 37%;
    } 
    .s4{
        position: relative;
        max-width: 1250px;
        display: flex;
        margin: auto;
        overflow: hidden;
    }
    .s4-1{
        width: 62%;
    }
    .ff-1 .ctn-1{
        width: 100%;
        text-align: none;
    }
    .ff-1 .ctn-1 p{
        display: inline;
    }
    .ff-1 .ctn-1 .title{
        border: none; 
    }
    .ff-1 .ctn-2 .title{
        border: none;
    }
    .ff-1 .ctn-2{
        width: 50%;
        margin:0 auto;
    }
    .ff-1 .ctn-2 .ttlh{
        text-align: none;
       
    }
    .ff-1 .ctn-2 .ttlh p{
        display: inline;
        padding: 0 10px;
    }
    
}

/*------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------MÁY TÍNH----------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1080px) {
    .hero .container .left-col .content{
        font-size: 1.25em;
    }
    .hero .container .left-col .subhead{
        position: absolute;
        left: 10%;
        font-size: 1.75em;
    }
    nav .secondary-nav .seach input{
        display: inline;
        height: 28px;
        width: 200px;
    }
    nav .container .logo{
        font-size: 1.5em;
    }
    nav ul li a{
        font-size: 1.5em;
    }
    nav .secondary-nav i{
        font-size: 1.5em;
    }
    nav .secondary-nav .seach .search{
        display: inline-block;
       
    }
    .s2 .Graphing{
        width: 67%;
        height: auto;
        
    }
    .s2 .tintuc{
        position: absolute;
        right: 0;
        width: 32%;
    }
    .s3 {
        position: relative;
        max-width: 1250px;
        display: flex;
        margin: auto;
    }
    .s3 .mains3{
        width: 32%;
    }
    
    .s3 .s3-2 .list5k ul li p {
        display: inline;
        padding: 0px;
        font-size: 1.25em;
    }
    .s3 .st-2{
        width: 32%;
    }
    .st{
        width: 67%;
    }
    .list5k ul li p .p-1{
        display: inline;
    }
    .s4-1{
        width: 67%;   
    }

}
/*------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------FRAMES-CSS-----------------------------------------------------------------------------------------------------*/
@keyframes line-run {
    0%{
        width: 0;
        height: 0;
        border-top-color: 100%;
        border-right-color: transparent;
        border-bottom-color:transparent;
        border-left-color: transparent;

    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: #f71a1ad9;
        border-right-color: #f71a1ad9;
        border-bottom-color:transparent;
        border-left-color: transparent;

    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: #f71a1ad9;
        border-right-color: #f71a1ad9;
        border-bottom-color:transparent;
        border-left-color: transparent;

    }
}
@keyframes line-run-2 {
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color:#f71a1ad9;
        border-left-color: transparent;

    }
    50%{
        width: 100%;
        height: 0%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color:#f71a1ad9;
        border-left-color: #f71a1ad9;

    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color:transparent;
        border-right-color: transparent;
        border-bottom-color:#f71a1ad9;
        border-left-color: #f71a1ad9;

    }
}